{% extends 'master/layouts.html' %} 
{% load static %} 

{% block resource_content %}
<link rel="stylesheet" href="{% static "auth2/css/auth2.css" %}"> 
<script src="{% static "auth2/js/auth2.js" %}"></script>
{% endblock %} 

{% block container_content %}
<div class="container-full display-container" id="TokenOperations">
    <div class="row"> 
        <div class="col-lg-2 col-md-2">
            <h4>provider</h4>
            <p>{{ auth2_obj.provider }}</p>
        </div>       
        <div class="col-lg-2 col-md-2">
            <h4>client_id</h4>
            <p>{{ auth2_obj.client_id }}</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <h4>client_secret</h4>
            <p>{{ auth2_obj.client_secret }}</p>
        </div>          
        <div class="col-lg-2 col-md-2">
            <h4>expires_at</h4>
            <p>{{ auth2_obj.expires_at }}</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <h4>scope</h4>
            <p>{{ auth2_obj.scope }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h4>access_token</h4>
            <p>{{ auth2_obj.access_token }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h4>refresh_token</h4>
            <p>{{ auth2_obj.refresh_token }}</p>
        </div>
    </div>
    
    <h4>Token operations</h4>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <a href="{% url 'auth2_azure_refresh_token' %}"><button class="auth2login btn btn-primary">Refresh Token</button></a>
        </div>  
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button type="button" class="btn btn-success auth2login" data-toggle="modal" data-target="#TokenRequestModal">HTTP Request</button>
            <div id="TokenRequestModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">oAuth2 Token Request</div>
                        <div class="modal-body">
                            <img src="{% static "/auth2/img/refresh_token_request_doc.png" %}" alt="refresh_token_request_doc">
                            <img src="{% static "/auth2/img/refresh_token_request_postman.png" %}" alt="refresh_token_request_postman">
                        </div>
                        <div class="modal-footer">Copy Rights - Microsoft</div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-lg-2 col-md-2 col-sm-2">
            <button type="button" class="btn btn-success auth2login" data-toggle="modal" data-target="#TokenResponseModal">HTTP Response</button>
            <div id="TokenResponseModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">oAuth2 Token Response</div>
                        <div class="modal-body">
                            <img src="{% static "/auth2/img/refresh_token_response_doc.png" %}" alt="refresh_token_request_doc">
                            <img src="{% static "/auth2/img/refresh_token_response_postman.png" %}" alt="refresh_token_request_postman">
                        </div>
                        <div class="modal-footer">Copy Rights - Microsoft</div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>

<div class="container-full display-container" id="OutlookOperations">
    <h4>outlook operations</h4>
    <div class="row">        
        <div class="col-lg-2 col-md-2">
            <button id="ReadMails" class="auth2login btn btn-primary">Read Mails</button>
        </div>
        <div class="col-lg-2 col-md-2">
            <button id="Read1stMail" class="auth2login btn btn-primary">Read 1st Mail</button>
        </div>
        
        <!--MAILS REQUEST-->
        <div class="col-lg-2 col-md-2">
            <button type="button" class="btn btn-success auth2login" data-toggle="modal" data-target="#MailsRequestModal">Mails Request</button>
            <div id="MailsRequestModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Outlook Mails Request</div>
                        <div class="modal-body">
                            <img src="{% static "/auth2/img/outlook_mails_request_doc.png" %}" alt="outlook_mails_request_doc">
                            <img src="{% static "/auth2/img/outlook_mails_request_postman.png" %}" alt="outlook_mails_request_postman">
                        </div>
                        <div class="modal-footer">Copy Rights - Microsoft</div>
                    </div>
                </div>
            </div>
        </div>        
        <!--MAILS RESPONSE-->
        <div class="col-lg-2 col-md-2">
            <button type="button" class="btn btn-success auth2login" data-toggle="modal" data-target="#MailsResponseModal">Mails Response</button>
            <div id="MailsResponseModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Outlook Mails Response</div>
                        <div class="modal-body">
                            <img src="{% static "/auth2/img/outlook_mails_response_doc.png" %}" alt="outlook_mails_response_doc">
                            <img src="{% static "/auth2/img/outlook_mails_response_postman.png" %}" alt="outlook_mails_response_postman">
                        </div>
                        <div class="modal-footer">Copy Rights - Microsoft</div>
                    </div>
                </div>
            </div>
        </div>
        <!--MAIL REQUEST-->
        <div class="col-lg-2 col-md-2">
            <button type="button" class="btn btn-success auth2login" data-toggle="modal" data-target="#1stMailRequestModal">1st Mail Request</button>
            <div id="1stMailRequestModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Outlook 1st Mail Request</div>
                        <div class="modal-body">
                            <img src="{% static "/auth2/img/outlook_1st_mail_request_doc.png" %}" alt="outlook_1st_mail_request_doc">
                            <img src="{% static "/auth2/img/outlook_1st_mail_request_postman.png" %}" alt="outlook_1st_mail_request_postman">
                        </div>
                        <div class="modal-footer">Copy Rights - Microsoft</div>
                    </div>
                </div>
            </div>
        </div>       
        <!--Clear-->
        <div class="col-lg-2 col-md-2">
            <button id="ClearMail" class="auth2login btn btn-danger">Clear Mails</button>
        </div>    
    </div>    
</div>

<div class="container-full display-container" id="UserOperations">
    <h4>User operations</h4>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <button id="GetUser" class="auth2login btn btn-primary">Get User</button>
        </div>
        <!--GET USER REQUEST/RESPONSE-->
        <div class="col-lg-2 col-md-2">
            <button type="button" class="btn btn-success auth2login" data-toggle="modal" data-target="#UserRequestModal">User Request</button>
            <div id="UserRequestModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">Get User Request</div>
                        <div class="modal-body">
                            <img src="{% static "/auth2/img/admin_get_user_request_doc.png" %}" alt="admin_get_user_request_doc">
                            <img src="{% static "/auth2/img/admin_get_user_response_doc.png" %}" alt="admin_get_user_response_doc">
                            <img src="{% static "/auth2/img/admin_get_user_request_postman.png" %}" alt="admin_get_user_request_postman">
                        </div>
                        <div class="modal-footer">Copy Rights - Microsoft</div>
                    </div>
                </div>
            </div>
        </div>        
        <!--Clear-->
        <div class="col-lg-2 col-md-2">
            <button id="ClearUser" class="auth2login btn btn-danger">Clear User</button>
        </div> 
    </div>
</div>
{% endblock %}