<div class="container-full display-container" id="SPOListItem">
    <div class="row"> 
        <div class="col-lg-12 col-md-12">
            <h4>Title -- {{ item.title }}</h4>
            <p>id: {{ item.id }}</p>
            <p>Web Uri: {{ item.webUrl }}</p>            
            <p>Created At: {{ item.createdDateTime }}</p>
            <p>Author: {{ item.Author0 }}</p>
            <p>Interests: {{ item.Interests }}</p>
            <p>Country: {{ item.Country }}</p>
        </div>
    </div>    
</div>